/* **************Header.jsx*************** */

.headerContainer {
    height: 4.5rem;
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    background: #172130;
    font-size: 15px;
    inset: 0px;
}

.navContainer {
    padding: 0rem 0.875rem;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80rem;
}

.logoContainer {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    column-gap: 0.75rem
}

.slideTabContainer {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.actionBtnContainer {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
}

.signinBtn {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    background-color: white;
    padding: 0.5rem 1.5rem;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* **************SlideTab.jsx*************** */

.TabContainer {
    position: relative;
    display: flex;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 9999px;
    margin: 0rem auto;
    padding: 0.25rem;

    background: rgba(34, 50, 72, 0.371);
    box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.tabItem {
    position: relative;
    display: block;
    z-index: 10;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: white;
    /* text-transform: uppercase; */
    mix-blend-mode: difference;
}

.tabSelector {
    position: absolute;
    z-index: 0;
    height: 2.25rem;
    border-radius: 9999px;
    background-color: #16202e;
}

/* **************TabItem.jsx*************** */

.tabName {
    display: flex;
    align-items: center;
    gap: 0.25;
    cursor: pointer;
    border-radius: 0.75rem;
}

.subMenuContainer {
    position: absolute;
    top: 3.75rem;
    /* width: 23rem; */
    transform-origin: 50% -170px;
    background-color: #172130;
    --tw-backdrop-blur: blur(8px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    border-radius: 6px;
    padding: 15px;
    will-change: auto;
}

.subMenuHeading {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    color: #6b7280;
}

.subMenuItem {
    display: flex;
    align-items: center;
    /* column-gap: 1rem; */
    margin: 0.5rem
}