.container {
    height: 400px;
    /* height: 100vh; */
    width: 100%;
    /* background-color: white; */
}

.ownerAvatarContainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.avatarImg {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 0.75rem;
    /* object-fit: cover; */
    /* filter: brightness(1.1); */
}

.ownerName {
    /* text-overflow: ellipsis; */
    overflow: hidden;
    white-space: nowrap;
}