.cardContainer {

    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 100%;

  }

  .card {
    /* background-color: #0c0e15; */
    /* background-color: #21242D; */
    width: 46%;
    /* max-width: 20rem; */
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    /* margin: 1rem 0.85rem; */
    margin-top: 1rem;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    box-sizing: border-box;
    border-radius: 12px;
    position: relative;
    overflow: visible !important;
    z-index: 1;
  }

  .iconBox {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2 !important;
    width: 85%;
  }

  .icon {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
  }